<div class="container">

	<div class="logo">
		<%= image_tag("logo.png", size: "260") %>
	</div>

	<div class="empty1">
	</div>

	<div class="menu">
	</div>

	<div class="empty2">
	</div>

	<div class="screen">
		<%= image_tag("tv.png") %>
	</div>

	<div class="empty3">
	</div>

	<div class="ontable">
		<div class="image">
		<%= image_tag("image.png") %>
		</div>
		<div class="player">
			<%= image_tag("player.png") %>
		</div>
		<div class="lamp">
			<%= image_tag("lamp.png") %>
		</div>
	</div>

	<div class="table">
		<div class="buttonbox">
			<button class="feature">
			</button>
			<button class="feature">
			</button>
			<button class="feature">
			</button>
	<%= image_tag("table.png") %>
		</div>
	</div>

</div>


<div id="echo" data-uri="<%= request.host %>:<%= request.port %>/websocket">
    <ul id="messages"></ul>
    <input id="send"/>
    <button id="fire">Send</button>

    <button id="left">Go left!</button>
    <button id="right">Go right!</button>
    <div id="directions" style="background:tomato;width:150px;height:30px;margin-top:5px"></div>
</div>

